[
    {
        "name": "smile",
        "textEquivalent": ":)",
        "fileFormat": "png"
    },
    {
        "name": "laughing",
        "textEquivalent": ":D",
        "fileFormat": "png"
    }
]
