[
    {
        "name": "smile",
        "textEquivalent": ":)",
        "url": "http://resource/emojis/smile.png"
    },
    {
        "name": "laughing",
        "textEquivalent": ":D",
        "url": "http://resource/emojis/laughing.png"
    }
]
