.info {
    background-color: hsla(198, 93%, 60%, 0.6);
    color: hsl(0, 0%, 100%);
}

.success {
    background-color: hsla(158, 64%, 52%, 0.6);
    color: hsl(0, 0%, 100%);
}

.warning {
    background-color: hsla(43, 100%, 46%, 0.6);
    color: hsl(0, 0%, 100%);
}

.error {
    background-color: hsla(0, 100%, 58%, 0.6);
    color: hsl(0, 0%, 100%);
}

.fade-in {
    animation: fade-in 500ms;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
