.message-input {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 0.5rem;

    & > input {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        width: 100%;
        color: #ffffff;
        font-size: 0.875rem;

        &:focus {
            outline: none;
        }
    }
}
